VITE_API_BASE_URL=http://localhost:8080/api/v1

# (an alphanumeric name in the Cloudinary dashboard; when clicked, it is labeled "Product environments")
VITE_CLOUDINARY_CLOUD_NAME=fdhf54kjf
# name of the created preset
VITE_CLOUDINARY_AVATARS_UPLOAD_PRESET=my_avatar_preset_name
VITE_CLOUDINARY_EVENTS_UPLOAD_PRESET=my_events_preset_name
